**Pandas, SCIKIT-Learn, and MATPLOTLIB**

In [35]:
#Goal of the model is to predict weather a flight you are considering to book is liklely to arrive on time. 

#If we know 

#Purpose of this small project is to work on Jupyter Notebook: importing the data, view, prepare the data. 

#Using Pandas to clean and prepare data to be used for the machine-learning model. 
#Use scikit-learn to create machine learning model. 
#Use Matplotlib to visualize model's performance. 


#imports the data using Azure Blop tool. 
!curl https://topcs.blob.core.windows.net/public/FlightData.csv -o flightdata.csv

import pandas as pd
df = pd.read_csv('flightdata.csv')
df.head()

df.shape

df.isnull().values.any()
df.isnull().sum()
df = df.drop('Unnamed: 25', axis=1)

df.isnull().sum()

#Selecting the variables which play a major part in the delay of a flight, it will help us predictig the accuracy of our prediction. 

df = df[["MONTH", "DAY_OF_MONTH", "DAY_OF_WEEK", "ORIGIN", "DEST", "CRS_DEP_TIME", "ARR_DEL15"]]
df.isnull().sum()
df[df.isnull().values.any(axis=1)].head()

df = df.fillna({'ARR_DEL15':1})
df.iloc[177:185]

import math

for index, row in df.iterrows():
    df.loc[index, 'CRS_DEP_TIME'] = math.floor(row['CRS_DEP_TIME']/100)
df.head()

#creating dummy variables for ORIGIN and DEST

df = pd.get_dummies(df, columns=['ORIGIN', 'DEST'])
df.head()

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1552k  100 1552k    0     0  2190k      0 --:--:-- --:--:-- --:--:-- 2187k

   MONTH  DAY_OF_MONTH  DAY_OF_WEEK  ...  DEST_JFK  DEST_MSP  DEST_SEA
0      1             1            5  ...         0         0         1
1      1             1            5  ...         0         1         0
2      1             1            5  ...         0         0         1
3      1             1            5  ...         0         1         0
4      1             1            5  ...         0         0         0

[5 rows x 15 columns]

# Building Machine Learning Moel using SCIKIT-Learn.

In [36]:
from sklearn.model_selection import train_test_split

train_x, test_x, train_y, test_y = train_test_split(df.drop('ARR_DEL15', axis=1), df['ARR_DEL15'], test_size=0.2, random_state=42)
train_x.shape
test_x.shape

(2247, 14)

In [38]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=13)

model.fit(train_x, train_y)

#testing the accuracy of the model
predicted = model.predict(test_x)
model.score(test_x, test_y

#Unable to check the AU score
#prediction possibilities with the data. 

#from sklearn.metrics import roc_auc_score

#probabilitites = model.predict_proba(test_x)

#roc_auc_score(test_y, probabilitites[:, 1])

SyntaxError: ignored

In [41]:
from sklearn.metrics import confusion_matrix

confusion_matrix(test_y, predicted)

array([[1903,   33],
       [ 272,   39]])